.master {
    background-color: transparent;
}

#name {
    position: relative;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Quicksand', sans-serif;
    width: 350px;
    min-width: 250px;
    margin: 0 auto;
    height: 450px;
    top: 15%;
    padding: 5px;
    margin-top: 7%;
}
#typed {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.typed-cursor{
    font-size: 30px;
}
.info-main{
    font-size: 16px;
    padding: 5px;
    max-width: 300px;
    
}
.social >a {
    color: #6f7275;
    font-size: 25px;
    padding-left: 15px;
}

.social >a:hover {
    color: black;
}

.social {
    width: 340px;
    margin: 0 auto;
    padding-left: 20px;
}

.resu {
    margin-left: 3%;
    background-color: transparent;
    font-size: 20px;
    border: 3px solid #6f7275;
    padding: 5px;
    border-radius: 15px;
    color: #6f7275;
}

.resu:hover {
    background-color: #6f7275;
    color: white;
}